@font-face {
    font-family: GillSansReg;
    src: url(../css/fonts/Gill-Sans.ttf);
}

@font-face {
    font-family: GillSansMedIt;
    src: url(../css/fonts/Gill_Sans_Medium_Italic.otf);
}

@font-face {
    font-family: GillSansLight;
    src: url(../css/fonts/gill_sans_light.ttf);
}

@font-face {
    font-family: PTSerifReg;
    src: url(../css/fonts/PTSerif-Regular.ttf);
}

