* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}
html, body {
 height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}
// #app {
//     min-height: calc(100vh - 1000px); //vh is viewport height so we subtract 100px of the nav and footer heights
//     width: 100%;
// }