.gallery-section {
    max-width: $content-width;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 60px;

    .gallery-1-2-3 {
        display: flex;
        margin-bottom: 20px;


        .gallery-1 {
            max-width: 489px;
            background-image: linear-gradient(rgba($site-yellow, 0.7), rgba($site-yellow, 0.7)), url(../images/gallery/1.png);
            @include gallery-background($width:100%);
            a {.gal-link {@include gallery-link();}}
        }

        .gallery-2-3 {
            display: flex;

            .gallery-2 {
                background-image: linear-gradient(rgba($site-pink, 0.7), rgba($site-pink, 0.7)), url(../images/gallery/2.jpeg);
                @include gallery-background($width: 187px); 
                a {.gal-link {@include gallery-link();}} 
            }
        
            .gallery-3 {
                background-image: linear-gradient(rgba($site-green, 0.7), rgba($site-green, 0.7)), url(../images/gallery/3.jpg);
                @include gallery-background($width: 265px, $m-right:0);
                a {.gal-link {@include gallery-link();}}  
            }
        }

        .gallery-4 {
            max-width: 603px;
            background-image: linear-gradient(rgba($site-purple, 0.7), rgba($site-purple, 0.7)), url(../images/gallery/4.jpg);
            @include gallery-background($width: 100%, $height: 306px, $m-right:23px); 
            a {.gal-link {@include gallery-link();}} 
        }
    
        .gallery-5 {
            background-image: linear-gradient(rgba($site-aquamarine, 0.7), rgba($site-aquamarine, 0.7)), url(../images/gallery/5.png);
            @include gallery-background($width: 355px, $height: 306px);  
            a {.gal-link {@include gallery-link();}}
        }
    }
}



@media screen and (max-width: 1280px) {
    .gallery-1-2-3 {
        flex-direction: column;
        
        .gallery-1, .gallery-4 {
            margin-bottom: 20px;
        }
    }
}