.title-container {
    max-width: $content-width;
    width: 75%;
    margin: 0 auto;

    .gallery-title {
        font-family: "GillSansReg";
        font-size: 25px;
        width: 229px;
        border-bottom: #000 solid 2px;
        padding-bottom: 10px;
        margin-top: 65px;
        margin-bottom: 30px;    
    }
}