.events-section {
    margin: 0 auto;
    max-width: $page-width;
    min-height: 320px;
    background-color: $site-purple;
    padding: 0 40px;
    
    .events-title {
        font-family: "GillSansReg";
        font-size: 25px;
        border-bottom: #fff solid 2px;
        width: 392px;
        color: #fff;
        padding-bottom: 5px;
        padding-top: 50px;
    }

    .events-calendar {
        display: flex;
        max-width: 1200px;
        margin-top: 35px;

        .events-split {
            display: flex;
        }

        .events-box {
            display: flex;
            margin-right: 20px;
            width: 220px;

            .ebox-left {
                font-family: "GillSansReg";
                
                .ebtn-container {
                    background-color: $site-pink;
                    text-align: center;
                    color: #fff;
                    padding: 10px 20px;
                    position: relative;
                    cursor: pointer;
                    
                    .date-num {
                        font-size: 22px;
                        font-weight: bold;
                        margin: 0;
                    }

                    .date-month {
                        font-size: 12px;
                        margin: 0;
                    }

                    a {
                        .ebtn-link {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }

            .ebox-right {
                font-family: "GillSansReg";
                width: 140px;
                margin-left: 20px;
                
                .ebox-title {
                    font-size: 15px;
                    color: #fff;
                }

                .ebox-desc {
                    font-size: 13px;
                    color: $site-pink;
                }
            }
        }
    }
}

@media screen and (max-width: 1235px) {
    .events-calendar {
        flex-direction: column;
        padding-bottom: 72px;
    }
}