footer {
    max-width: $page-width;
    width: 100%;
    height: 455px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $site-pink;
    color: #fff;

    .logo {
        margin-top: 35px;
        width: 92px;
        height: 42px;
        background-image: url(../images/logo/logo-white.png);
    }

    .footer-info {
        text-align: center;
        font-family: GillSansReg;
        font-size: 15px;
    }

    .subscribe-div {
        max-width: 696px;
        width: 100%;
        padding: 0 50px;
        display: flex;

        .sub-input {
            width: 75%;
            height: 60px;
            background-color: #F56B88;
            color: #fff;
            border: none;
            padding-left: 23px;
            font-family: GillSansReg;
            font-size: 16px;
        }

        .site-btn {
            width: 174px;
            height: 60px;
            color: $site-pink;
            background-color: #fff;
            font-family: GillSansReg;
            font-size: 16px;
            text-decoration: none;
            cursor: pointer;
            padding: 20px 46px;
            box-shadow: none;
            border: none;
        }
    }

    .socials {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 150px;
        color: #fff;
        
        a {
            text-decoration: none;
            color: #fff;
        }
    }
}