.about-hero {
    background-image: linear-gradient(rgba($site-yellow, 0.7), rgba($site-yellow, 0.7)), url(../images/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: $content-width;
    width: 75%;
    height: 378px;
    margin: 85px auto 0 auto;
    background-color: #000;
}